*{
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
	font-family: Helvetica sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

#globalWrapper{
	position: absolute;
	width: 100%;
	height: 100%;
}

#leftColumn, #rightColumn{
	position: absolute;
}

#rightColumn{
	right: 0;
	width: 80%;
	height: 10px;
}

#leftColumn{
	left: 0;
	width: 20%;
}


