<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>roBlog</title>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>

	<grid>
		<h1>HOLA</h1>
		{{hola.nombre}}
	</grid>

<script src="js/$http.js"></script>
<script src="js/app.js"></script>
</body>
</html>